html {
    height: 100%;
    overflow-y: hidden !important;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

a {
    color: var(--secondary);
}

#primary-nav {
    background-color: var(--secondary);
}

#primary-nav #navbar-logo {
    max-height: initial;
}

#primary-nav .title {
    text-transform: uppercase;
    font-size: 1.1em;
}

#content {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

#subject-matcher {
    display: flex;
    flex-direction: row;
    flex: 1;
}

#main-content {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
}

#controls {
    margin-bottom: 2rem;
}

#all-match-results {
    flex: 1;
    flex-basis: 0;
    overflow: auto;
}

.match-option {
    margin-right: 1rem;
}

.match-option:last-child {
    margin-right: 0;
}

#output {

}

#output-tsv {
    padding-top: 1rem;
}

#sidebar {
    flex-shrink: 0;
    margin-left: 2rem;
    width: 33.333%;
}

#type-selector {
    display: inline-block;
    margin-left: 1rem;
    padding-top: 0.3rem;
}

#all-match-results {
    border: 1px solid #ccc;
    padding: 1rem;
}

.match-results {
    margin-bottom: 1rem;
}

#output-data, #output-data-tsv {
    font-family: monospace;
    font-size: 0.8em;
}

#output-data:hover, #output-data-tsv:hover {
    border: 1px solid red;
    cursor: copy;
}

#result-map {
    margin-bottom: 1rem;
}

#map {
    height: 300px;
}

footer {
    background-color: var(--light);
    padding: .5rem 1.5rem;
    font-size: 0.9em;
}

footer .fork-me {
    float: right;
}

:root {
    --light: #ecedee;
    --secondary: #2b3a60;
}
